$bg-color: #fff;
$txt-color: rgb(0, 0, 0);
$filled-color: #000;
$filled-bg: #caf0f8;

$white: #fff;
$blue: #00aeef;
$red: #e91e63;
$black: #000;

$nav-size: 70px;
$sudoku-cell-size: 50px;

$border-radius: 10px;

$space-y: 20px;

$gap: 5px;

$font-size: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;


